In [14]:
import sqlite3
conn = sqlite3.connect('countries_database.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE CountryData (
    name TEXT,
    continent TEXT,
    area INTEGER,
    population INTEGER,
    gdp INTEGER
)''')

data = [('Afghanistan', 'Asia', 652230, 25500100, 20343000),
        ('Albania', 'Europe', 28748, 2831741, 12960000),
        ('Algeria', 'Africa', 2381741, 37100000, 188681000),
        ('Andorra', 'Europe', 468, 78115, 3712000),
        ('Angola', 'Africa', 1246700, 20609294, 100990000)]

cur.executemany("INSERT INTO CountryData VALUES (?, ?, ?, ?, ?)", data)

cur.execute('''SELECT name, population, area FROM CountryData
            WHERE area > 3000000 OR population > 25000000''')

results = cur.fetchall()
for result in results:
    print(result)

conn.commit()
conn.close()

('Afghanistan', 25500100, 652230)
('Algeria', 37100000, 2381741)